@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

 Eastland CC 06-0068
<p> Eastland Career Center Web Application Team 1 </p>
<p> Sean Arnold 06-0068-0033 </p>
<p> Daniel Hayner 06-0068-0040 </p>
<p> Jaden McDonald 06-0068-0042 </p>
<p> Jacklee Souvong 06-0068-0048 </p>