@page
@model ContactModel
@{
    ViewData["Title"] = "Maps";
}
<h2>@ViewData["Title"]</h2>
<h3></h3>

<img src="~/images/Hilton_Ahaheim_1.PNG" width="70%" /> 
<img src="~/images/Marriott_Floor_Plan.png" width="70%" />
<img src="~/images/Sheraton_Floor_Plan.png" width="70%" />

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
